.anaconda/
.bash_history
.cache/
.conda/
.condarc
.continuum/
.gitconfig
.idlerc/
.ipynb_checkpoints/
.ipython/
.jupyter/
.keras/
.lesshst
.matplotlib/
.virtual_documents/
.vscode/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Mask_RCNN/
Music/
OneDrive/
Pictures/
PycharmProjects/
Saved Games/
Searches/
Videos/
anaconda3/
mdir
my-python-project/
open_cv_project/
proje/
repo/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
